<html>

<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <h1><%= title %></h1>
  <h2>Subscribe successfully!</h2>
  <p>code: <%= code %></p>
  <p>token: <%= token %></p>
  <button id="btn"><%= btnText %></button>

  <script>
    let button = document.querySelector('#btn');
    button.addEventListener('click', (e) => {
      window.location.href = '/';
    });
  </script>
</body>

</html>
